:root{
    --input-error: red;
    --input-linear: linear-gradient(120deg, #E75590, #00C2CB);
    --button-linear: linear-gradient(120deg, #E75590, #00C2CB, #E75590);
    --button-disabled: #acacac;
    --button-success: rgb(18, 151, 107);
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.login {
    height: 100vh;
    background: var(--input-linear); /* Para deixar um background com duas cores */
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    min-height: 400px;
    width: 300px;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-title {
    margin-bottom: 32px;
    color: #303030;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-input {
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 8px;
    border: unset;
    outline: none;
}

.login-input-border {
    height: 1px;
    width: 100%;
    margin-bottom: 16px;
    background-color: #cfcfcf;
    transition: .3s ease-in-out;
}

.login-input-border::after {
    content: '';
    display: block;
    height: 1px;
    width: 0;
    margin-bottom: 16px;
    background: var(--input-linear);
    transition: .3s ease-in-out;
}

.login-input:focus + .login-input-border::after{
    width: 100%;
}

.login-input-border.error{
    background: var(--input-error);
}

.login-input-border.error::after{
    background: var(--input-error);
}

.login-submit{
    height: 48px;
    width: 100%;
    outline: none;
    background: var(--button-linear);
    background-size: 200%;
    margin-bottom: 32px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    border: unset;
    transition: .5s ease-in-out;
}

.login-submit:disabled{
    background: var(--button-disabled);
    cursor: not-allowed;
}

.login-submit:hover {
    background-position: right;
}

.login-submit.error {
    background: var(--input-error);
}

.login-submit.success {
    background: var(--button-success);
}

.login-reset{
    font-size: 12px;
    color: #929292;
    text-decoration: none;
}